{% extends "bs_layout.html" %}
{% block body %}
<div class="container" role="main">
  <div class="row">
  <div class="col-sm-4">
    <h2>Hello, Visitor!</h2>
    <form role="form" action="{{ url_for('add_post') }}" method=post>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control"
        id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" rows="3" id="message"
        name="message" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Say Hi</button>
    </form>
  </div>
  <div class="col-sm-8">
  <p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Messages from visitors</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td><em><b>{{ post.name }}</em></b> says...</td>
        </tr>
        <tr>
          <td>{{ post.message|safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
  </div>
  </div>
</div>
{% endblock %}