{% extends "bs_layout.html" %}
{% block body %}
<div class="container" role="main">
  <h2>System Information and Status</h2><hr>
  <div class="row">
    <div class="col-sm-6">
      {#
      <h3>Load </h3>
      <span class="label label-success">{{ entries['load'][0] }}</span>
      <span class="label label-success">{{ entries['load'][1] }}</span>
      <span class="label label-success">{{ entries['load'][2] }}</span>
      #}
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">System details</th>
          </tr>
        </thead>
        <tbody>
          {% for key, val in sys_info.iteritems() %}
          <tr>
            <td>{{ val[0] }}</td>
            <td>{{ val[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong>System status</strong> </div>
        <div class="panel-body">
          <h4> Memory Usage 
          <span class="label label-default"> {{sys_info['mem_usage'].used}} used of
           {{sys_info['mem_usage'].total}}</span>
          </h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar"
              aria-valuenow="{{sys_info['mem_usage'].percent}}"
              aria-valuemin="0" aria-valuemax="100"
              style="width: {{sys_info['mem_usage'].percent}}%;">
              <span> {{sys_info['mem_usage'].percent}} % </span>
            </div>

          </div>
          <h4> CPU utilization </h4>
          {% for val in sys_info['cpu_util'] %}
          <div class="progress">
            <div class="progress-bar" role="progressbar"
              aria-valuenow="{{val}}"
              aria-valuemin="0" aria-valuemax="100"
              style="width: {{val}}%;">
              <span> {{val}} % </span>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
       <div class="panel-heading"><strong> Another Panel</strong> </div>
       <div class="panel-body">
        Some data here
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}